body{
   
    background-color: #456f6f;
    background-image: url("Dad's Website/images/luca-bravo-415109.jpg");
    background-size: cover;   
    margin: 0px;
    padding: 0px;
}

.gallery {
    margin: 5px;
    border: 2px solid #ccc;
    float: left;
    

  
    
}

#gallerybody{
    margin-left: 10%;
}

.gallery:hover {
    border: 2px solid #777;
}

.gallery img {
    width: 375px;
    height: 300px;
    vertical-align: middle;    
}

.desc {
    padding: 15px;
    text-align: center;
    font-family: georgia;
    font-size: 1.2em;
    background-color: #ffffff;
}


